*{
	box-sizing:border-box;
}body{
	background-size: cover;
	background-image:url('piks/books1.jpg');
	font-family: verdana;
	margin-top: 20px;
	margin-left:30px;  
}
h1{
   text-shadow: 4px 4px 6px black, 0 0 2em blue, 0 0 1em blue;
   color: white;
   font:  Georgia, serif;
   font-size: 50px;
}
p{
    margin-left: 50px;
    color:maroon;
    font-weight: bolder;
}
h3{
    margin-left: 100px;
    text-shadow: 4px 4px 6px black, 0 0 2em white, 0 0 1em white;
    color:red;
    font: serif;
    font-size: 30px;
}
ul{
	margin:10px;
    margin-bottom: 1px;
	padding:15px;
	list-style: none;
}
ul li{
	float:left;
	width:180px;
	height:40px;
	background-color: #f2f2f2;
	text-align: center;
	font-size: 13px;
	line-height: 40px;
	border-radius: 10px;
}
ul li a{
	text-decoration:none;
	display: block;
	color:black;

}
ul li a:hover{
    background-color: #bfbfbf;
    font-size: 20px;
    border:2px solid black;
    border-radius: 10px;
    color:white;

}
.google{
    position: relative;
    top: 50%;
    left: 85%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.google input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.google:hover{
    width: 300px;
    cursor: pointer;
}

.google:hover input{
    display: block;
}

.google:hover .fa{
    background: #07051a;
    color: white;
}
input.MyButton {
	box-shadow: 3px 3px 4px black, 0 0 2em black, 0 0 1em black;
width: 400px;
padding: 20px;
margin:20px;
cursor: pointer;
font-weight: bold;
font-size: 150%;
background: transparent;
color: black;
border: 3px solid #3366cc;
border-radius: 10px;
}
input.MyButton:hover {
color: #ffff00;
background: #3366cc;
border: 1px solid #fff;
}footer{
	position: relative;
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	width: 100%;
	height:220px;
	text-align: left;
	font: bold 16px sans-serif;
    padding: 25px 20px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 10px 0 6px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 2.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}
.login{
    position:absolute;
	background-color:black;
	opacity:0.8;
	left: 950px;
    top: 350px;
	width:320px;
	height:300px;
	text-align: center;
	border-radius: 15px;
	color:#00b8e6;
	border:white outset 5px;
	font-weight: bolder;
}
.login p{
	font-size: 15px;
	text-align: left;
	margin-left: 20px;
	margin-top: 20px;
    color:aquamarine;
}
.login h2{
	color:tomato;

}
.login h2:hover{
	color:white;
	font-size: 25px;
}
.login input{
	float:left;
	margin-left: 20px;
	height:20px;
	width:250px;
	border-radius: 15px;

}
.login .button{
	width: 10px;
	margin-top: 7px;
    margin-left: 130px;
	color: black;
	font-size: 14px;
    width:70px;
	background-color: #00b8e6;
	
}
.button:hover{
    width:80px;
	background-color: #008fb3;
	color:white;
	font-size:16px;
}
.login p:hover{
	color:white;
}
.login:hover{
	border:5px inset #ccffff;
}
.regform{
    position:relative;
	background-color:whitesmoke;
	opacity:0.8;
	margin-left: 10px;
    margin-top: 10px;
	width:850px;
	height:280px;
    border-radius: 15px;
	color:black;
	border:white outset 5px;
	font-weight: bolder;
}
.regform input{
    width:250px;
}
.regform .submit{
    margin-top: 15px;
    margin-left: 350px;
    width:70px;
    color:antiquewhite;
    background-color: brown;
}
.submit:hover{
	border:5px inset white;
    width:80px;
    height:35px;
    background-color: red;
}